@media only screen and (max-width: 1024px) {
  .navbar-side .side-collapse {
    padding-top: 50px;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.87, -0.41, 0.19, 1.44);
    background-color: white;
    .icon-clear {
      display: block;
      float: right;
      margin-right: 50px;
      font-size: 2em;
    }
    .navbar-collapse {
      text-align: center;
      .navbar-nav {
        display: flex;
        flex-direction: column;
        float: none;
        margin: 0;
        width: 100%;
        li {
          &:hover {
            background-color: $gray;
          }
          a {
            color: black;
            padding: 10px;
            font-size: 1em;
          }
        }
      }
      .mega-dropdown {
        display: none;
      }
      .navbar-bottom {
        background-color: $white !important;
        li {
          a {
            color: $black !important;
          }
        }
      }
    }
  }
  .navbar-default {
    .navbar-bottom {
      background: $white !important;
    }
  }
  .navbar-brand {
    img {
      margin-left: 20px;
      width: 100px;
    }
  }
  .navbar-side .side-collapse.open {
    width: 0;
  }
  .navbar-header {
    width: 100%;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-bottom {
    background-color: $white;
  }
  .home_search_tab {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 80px;
  }
  .hover-1-home {
    color: $black !important;
  }
  .item.list-group-item {
    .image_description {
      min-height: 200px;
    }
  }
}

@media only screen and (max-width:768px) {
  .btn-lg {
    padding: 10px;
    font-size: 18px;
  }
  .home-content__section {
    .tab-content {
      padding: 0;
    }
    .nav-tabs {
      >li {
        >a {
          font-size: 0.7em;
        }
      }
    }
  }
  .footer {
    .footer_content {
      .col-sm-12 {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .search-button {
    .search-container {
      float: none;
      button {
        float: none;
        text-align: left;
        width: 50%;
        margin: 0;
        padding: 8px;
      }
    }
    input[type=text] {
      float: none;
      text-align: left;
      width: 50%;
      margin: 0;
      padding: 8px;
      border: 1px solid #ccc;
    }
  }
}

@media only screen and (max-width: 480px) {
  .mega-dropdown {
    display: none;
  }
  input#search-bar {
    font-size: 1em;
  }
  .search-container {
    width: 300px;
  }
  .home-content__section {
    h2 {
      font-size: 1em;
    }
  }
  .padding-content {
    padding: 20px 10px 20px 10px;
  }
  .home-content__section {
    .nav-tabs {
      >li {
        >a {
          padding: 5px;
          font-size: 0.6em;
        }
      }
    }
  }
  .home-content__section {
    .tab-content {
      .col-xs-3 {
        width: 50%;
      }
      .list-group-item {
        width: 100%;
      }
    }
  }
  .btn-lg {
    font-size: 16px;
    padding: 10px;
  }
  .item.list-group-item {
    .image_description {
      min-height: 200px;
    }
  }
  .boxed {
    label {
      cursor: pointer;
      padding: 5px;
      color: #2aaae2;
      font-size: 0.6em;
    }
  }
  .footer_content_column {
    .subscribe_title {
      font-size: 1em;
    }
    a {
      font-size: 0.8em;
    }
    h2 {
      a {
        font-size: 0.6em;
      }
    }
    p{
      font-size:0.8em;
    }
  }
  .home-content__section {
    .btn-group {
      .btn-default {
        border: none;
        color: #e6e6e5;
        font-size: 0.7em;
      }
    }
    .nav-tabs{
      span{
        font-size: 0.7em;
      }
    }
  }
  .footer {
    .footer_content {
      .col-sm-12 {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  .btn-lg {
    font-size: 14px;
    padding: 5px;
  }
  .nav-tabs {
    >li {
      >a {
        padding: 10px;
      }
    }
  }
  .home-content__section {
    .nav-tabs {
      >li {
        >a {
          font-size: 0.5em;
        }
      }
    }
  }
}